body {
    text-align: center;
    background: black url(../images/body_bkg.jpg) top center no-repeat;
}

body,
a,
a:link,
a:visited,
a:active,
a:focus {
    font-family: Verdana, Tahoma, Arial;
    font-size: 1em;
    color: black;
}
a,
a:link,
a:visited,
a:active,
a:focus {
    /*    color: #027acc;*/
    color: #01558F;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.yiiLog {text-align: left;}

/** ************************************************************************ **/
/** General purpose mini classes **/
.hidden { display: none; }
.left { float: left; }
.right { float: right; }
.no-padding { padding: 0; }
.no-margin { margin: 0; }
.bold, strong {font-weight: bold; }
.italic, em {font-style: italic;}
.clickable { cursor: pointer; }
.unclickable {cursor: default; }
.over-everything { z-index: 9001; }

.font-small {font-size: 90%}
.font-xsmall {font-size: 85%}
.font-xxsmall {font-size: 80%}

/** ************************************************************************ **/
/** Main super divs **/
#container {
    width: 990px;
    text-align: left;
    margin: 40px auto;
    background-color: white;
    overflow: hidden;
    font-size: 80%;
    line-height: 18px;
}

/** Header **/
#header {
    background: black url('../images/header_bkg.jpg') top left repeat-y;
}

#header > #logo {
    width: 990px;
    height: 133px;
}
#header > #logo .left {
    width:240px;
    height: 100%;
    background: black url('../images/header_logo_left.jpg') top left no-repeat;
}
#header > #logo .right {
    width:750px;
    height: 100%;
    background: black url('../images/header_logo_right.jpg') top left no-repeat;
}
#header > #logo .ad {
    background: none repeat scroll 0% 0% white;
    position: relative;
    top: 23px;
    left: 4px;
    width: 728px;
    height: 90px;
}

#header > #general_info {
    font-size: 80%;
    overflow: hidden;
}
#header > #general_info,
#header > #general_info a {
    color: white;
}
#header > #general_info img {
    position: relative;
    top: 7px;
}
#header > #general_info .general_info {
    float: right;
    padding-right: 20px;
}

/** Main (top) menu **/
#header > #main_menu {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 90%;
}

#header > #main_menu ul {
    overflow: hidden;
    width: 990px;
    height: 51px;
    background: transparent url(../images/main_menu_bkg.png) top left no-repeat;
}

#header > #main_menu li {
    float: left;
    height: 100%;
}
#header > #main_menu li a {
    display: block;
    padding: 8px 5px 0;
    overflow: hidden;
    height: 100%;
}
#header > #main_menu li a img {
    float: left;
}
#header > #main_menu li a span {
    float: left;
    color: white;
    font-weight: bold;
    padding: 7px 0 0 2px;
}
#header > #main_menu li.selected a {
    text-shadow: 0 0 3px black;
}
#header > #main_menu li a:hover,
#header > #main_menu li.selected a {
    background: transparent url('../images/mainMenu/selected.png') repeat-x top left;
    text-decoration: none;
}
#header > #main_menu li.first a {
    border-top-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
}

/** Sub menu **/
#submenu {
    margin-bottom: 10px;
}
#submenu ul {
    background-color: #EFEFEF;
    padding: 10px;
    overflow: hidden;
}
#submenu li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
}
#submenu li.last {
    border-right: none;
}
#submenu li a {
    padding: 5px;
    color: black;
}
#submenu li.disabled {
    color: grey;
}
#submenu li a:hover,
#submenu li.selected span {
    background-color: #2074AE;
    color: white;
    padding: 5px;
}

/** Columns **/
#leftcolumn {
    float: left;
    width: 760px;
    padding: 10px 0 10px 10px;
}

#rightcolumn {
    float: left;
    width: 200px;
    padding: 10px 0 10px 10px;
}

#left-profile-column {
    float: left;
    width: 190px;
}

#right-profile-column {
    float: left;
    width: 560px;
    padding: 0 0 0 10px;
}

#left-profile-column.stockmarket{
    width: 220px;
}

#right-profile-column.stockmarket{
    width: 530px;
}

/** Main site content **/
#content {
    overflow: hidden;
}
#content p {
    margin: 5px 0;
    text-align: justify;
}

/** Footer **/
#footer {
    background-color: black;
    overflow: hidden;
    clear: both;
    padding: 10px;
}
#footer,
#footer a {
    color: #666;
}
#footer .left li {
    float: left;
}
#footer .left li a {
    padding: 0 7px;
}

/** ************************************************************************ **/
/** Widget box (general and specialisations) **/
.widgetbox {
    margin-bottom: 10px;
    width: 375px; /* default size */
}
.widgetbox .header {
    height: 36px;
    background: url("../images/widgetBox/widgetBox-main-header-black.png") left top no-repeat transparent;
    border-bottom: 1px solid #7f7f7f;
}
.widgetbox .header > div {
    float: left;
    padding: 9px 0 0 6px;
    font-weight: bold;
}
.widgetbox .header > div,
.widgetbox .header > div a {
    color: white;
}
.widgetbox .body {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(220,220,220,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdc',GradientType=0 );
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%);

    overflow: hidden;
    padding: 10px;
}

/* Widget box sidebar */
.widgetbox.sidebar {
    width: 200px;
}
.widgetbox.sidebar .header {
    overflow: hidden;
    background: url("../images/widgetBox/widgetBox-sidebar-header-black.png") left bottom no-repeat transparent;
}

/* Widget box main content */
.widgetbox.main .body .more {
    float: none;
    display: block;
    overflow: hidden;
}
.widgetbox.main .body .more a {
    float:right;
    font-size: 90%;
}
.widgetbox.main .body .more a:hover {
    text-decoration: underline;
}
.widgetbox.main .body .more .element {
    color: #2e81c3;
    float: right;
    padding-left: 5px;
}

.widgetbox.title-image {
    margin-top: -10px;
}
.widgetbox.title-image .header {
    height: 46px;
}
.widgetbox.title-image .header div {
    padding: 19px 0 0 2px;
}
.widgetbox.title-image .header > img {
    float: left;
    padding: 5px 0 0 5px;
}

/** ************************************************************************ **/
/** Forms and input elements **/
button:hover,
input:hover,
select:hover {
    cursor: pointer;
}
button:disabled:hover,
input:disabled:hover,
select:disabled:hover {
    cursor: default;
}
button,
input[type="button"],
input[type="submit"]{
    color: black;
    border: none;
    padding: 5px;
    border: 1px solid rgb(215,222,227);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 100%;

    background: rgb(246,248,249);
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
    background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover{
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(49%,rgba(209,209,209,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(100%,rgba(226,226,226,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 );
    background: linear-gradient(top, rgba(254,254,254,1) 0%,rgba(209,209,209,1) 49%,rgba(219,219,219,1) 50%,rgba(226,226,226,1) 100%);
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    color: #777;
}
button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover {
    background: rgb(246,248,249);
    background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));
    background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
    background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
}

input[type=text],
input[type=password],
input[type=file],
select,
textarea,
form.inline-edit input {
    padding: 5px;
    border: 1px solid lightgray;
    color: black;
    background-color: white;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=file]:focus,
select:focus,
textarea:focus,
form.inline-edit input:focus {
    border-color: black;
}

input[type=text]:disabled,
input[type=password]:disabled,
input[type=file]:disabled,
select:disabled,
textarea:disabled,
form.inline-edit input:disabled {
    color: #333;
}

form.inline-edit button {
    margin: 0 0 0 5px;
}

form .form-hint {
    border-bottom: none;
    font-style: italic;
    background-color: #efefef;
    padding: 5px;
}

form .form-hint .required,
form label.required span.required {
    color: #2e81c3;
}

form .row {
    overflow: hidden;
    padding: 5px 0;
}
form .row label {
    width: 200px;
    text-align: right;
    float: left;
    padding-right: 10px;
}
form .row label.required {
}
form .row input {
    float: left;
}
form .row input[type=text],
form .row input[type=password],
form .row input[type=file],
form .row select {
    width: 300px;
    font-size: 95%;
}
form .row textarea {
    width: 300px;
}
form .row label.error {
}
form .row input.error {
}
form .row input[type=text].error,
form .row input[type=password].error,
form .row input[type=file].error,
form .row select.error,
form .row textarea.error {
}
form .row .errorMessage {
    color: white;
    clear: both;
    padding: 3px;
    margin: 5px 0 0 210px;
    float: left;
    font-style: italic;
    font-size: 90%;
    background-color: lightcoral;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 310px;
}
form .row.buttons {
    padding-left: 210px;
}
form .row.buttons input + input {
    float: left;
    margin: 0 0 0 10px;
}
form .row.buttons input + a {
    float: left;
    margin: 5px 0 0 10px;
}

form .row.captcha {
    background-color: #efefef;
    padding: 10px 0;
}
form .row.captcha img {
    padding-left: 210px;
}
form .row.captcha a {
    padding: 10px;
}
form .row.checkbox {
    padding: 5px 10px 5px 210px;
}
form .row.checkbox input[type=checkbox] {
    margin: 3px 3px 3px 0;
}
form .row.checkbox .hint {
    font-style: italic;
    float: left;
    width: 500px;
}
form .row.note {
    color: #444444;
    font-size: 90%;
    font-style: italic;
    padding-left: 210px;
    text-align: justify;
    width: 315px;
}
form .row.note:hover,
form .row.notice:hover {
    background-color: inherit;
}
form .row .radiolist {
    float: left;
}
form .row .radiolist input {
    float: left;
    margin: 0 5px 0 0;
}
form .row .radiolist label {
    float: left;
    margin-top: -2px;
    padding: 0;
    text-align: left;
    width: auto;
}
form .row.separator {
    width: 100%;
    background-color: #ddd;
    height: 1px;
    margin: 5px 0;
    padding: 0;
}
form .row.noneditable {
    padding: 7px 0;
}
form .row:hover {
    background-color: #efefef;
}
form .row.noneditable,
form .row.buttons:hover,
form .row.forgot-pass:hover {
    background-color: inherit;
}
form .row.paragraph div {
    background: #F0F0F0;
    float: left;
    padding: 10px;
    width: 500px;
    text-align: justify;
}
form .row .hint + .errorMessage {
    margin-left: 0;
}

form .errorSummary {
}
#content form .errorSummary p {
    margin-top: 0;
}
form .errorSummary ul {
    padding-left: 16px;
    list-style: disc outside;
}
form .errorSummary li {
    padding: 1px 0;
}

/** Popup **/
form.popup .row:hover {
    background: inherit;
}
form.popup .row input[type="text"],
form.popup .row input[type="password"],
form.popup .row input[type="file"],
form.popup .row select {
    width: 280px;
}
form.popup .row label {
    padding: 5px 5px 5px 0;
    width: 110px;
}
form.popup .row .errorMessage {
    margin-left: 0;
}
form.popup .row.buttons{
    padding-left: 0;
}


/** ************************************************************************ **/
/** ************************************************************************ **/

/** Forms ****************************************************************** **/
form.loginbox .row {
}
form.loginbox .row:hover {
    background-color: inherit;
}
form.loginbox .row.buttons {
    text-align: right;
    padding: 5px 0;
}
form.loginbox .row.forgot-pass {
    text-align: right;
    margin-bottom: 0;
    font-size: 90%;
}
form.loginbox .row input {
    float: none;
}
form.loginbox .row label + input {
    width: 168px;
}
form.loginbox .row label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    font-size: 95%;
    width: auto;
    text-align: left;
}

form.login .row.forgot-pass {
    font-size: 90%;
    padding-left: 210px;
}
form.preferences .row.checkbox {
    padding-left: 0;
}
form.preferences .row.checkbox input[type=checkbox] {
    margin-left: 0px;
}

form.profile .ui-datepicker-trigger {
    cursor: pointer;
    margin-top: -3px;
}
form.profile .row.profile-thumb {
    padding-top: 10px;
}
form.profile .row.profile-thumb:hover {
    background-color: inherit;
}
form.profile .row.profile-thumb .remove {
    float: left;
    left: -12px;
    position: relative;
    top: -12px;
}
form.profile .row.profile-thumb .thumb {
    background-color: white;
    border: 1px solid lightgray;
    float: left;
    padding: 10px;
    text-align: center;
    width: 290px;
}
form.profile .row.profile-thumb .thumb img {
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px 2px lightgrey;
    -moz-box-shadow: 0 0 10px 2px lightgrey;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
}
form.profile .row.profile-thumb .errorMessage {
    margin-left: 0;
}
#profile-submenu {
    border: medium none;
    font-size: 100%;
    padding: 0;
}
#profile-submenu .ui-tabs-panel {
    padding: 0;
}
#profile-submenu .ui-tabs-nav {
    border: medium none;
    background: #EFEFEF;
    padding: 10px;
    overflow: hidden;
    margin: 0 0 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#profile-submenu .ui-tabs-nav li {
    background: none;
    color: black;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    float: left;
    border: none;
    border-right: 1px solid black;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#profile-submenu .ui-tabs-nav li a {
    color: black;
    padding: 5px;
}
#profile-submenu .ui-tabs-nav li.ui-tabs-selected a,
#profile-submenu .ui-tabs-nav li.ui-state-active a,
#profile-submenu .ui-tabs-nav li.ui-state-hover a {
    background-color: #2074AE;
    color: white;
    padding: 5px;
}

/** Tooltips *************************************************************** **/
/*.tooltip {
    display: none;
    background: transparent url('../images/tooltip/black.png') no-repeat center center;
    font-size: 80%;
    width: 209px;
    height: 109px;
    color: #fff;
    line-height: 12px;
}
.tooltip.big {
    background: transparent url('../images/tooltip/black_big.png') no-repeat center center;
}
.tooltip.white {
    background: transparent url('../images/tooltip/white.png') no-repeat center center;
}
.tooltip.white.big {
    background: transparent url('../images/tooltip/white_big.png') no-repeat center center;
}
.tooltip .content {
    padding: 10px;
}*/

div.tooltip {
    display: none;
    max-width: 230px;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    box-shadow: 0 0 5px 1px #777777; -moz-box-shadow: 0 0 5px 1px #777777; -webkit-box-shadow: 0 0 5px 1px #777777;
    font-size: 12px;
    line-height: 14px;
    max-width: 230px;
    padding: 7px;
    text-align: left;
    z-index: 10000;

    background: black;
    border: 1px solid white;
    color: white;
}
div.tooltip.white {
    background: white;
    border: none;
    color: black;
}

.standard-tooltip {
    position: absolute;
    background-color: #E6EFC2;
    border:3px solid #d5deb1;
    padding: 5px;
    box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.browser-tooltip {
    background-color:#ffa;
    border:1px solid #cc9;
    padding:3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.low-transactions-tooltip {
    width:200px;
    text-align:center;
}
.warn-tooltip {
    background: url("../images/iconset/info.png") no-repeat scroll 8px 6px #E6EFC2;
    border:3px solid #d5deb1;
    padding: 5px 10px 5px 30px;
    width:200px;
    font-size: 90%;
    box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    position: absolute;
}
.warn-tooltip.caution {
    background-image: url("../images/iconset/warn.png");
    border-color: #fa8888;
}
#pwdMeter {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#pwdMeter.neutral {
    margin-top: 10px;
    background-color: #B44444;
    border: 1px solid #000000;
    color: white;
    padding: 3px;
    text-align: center;
}
#pwdMeter.neutral.veryweak {
    background-color: #B44444;
}
#pwdMeter.neutral.weak {
    background-color: #DF7401;
}
#pwdMeter.neutral.medium {
    background-color: #FFFF00;
    color: black;
}
#pwdMeter.neutral.strong {
    background-color: #9AFE2E;
    color: black;
}
#pwdMeter.neutral.verystrong {
    background-color: #0B610B;
    font-weight: bold;
}
form .pwdMatchFail {
    color: red;
}
form .pwdMatchOk {
    color: green;
}

/** Widget boxes *********************************************************** **/
/** Manager box **/
.widgetbox.manager .body {
    padding: 5px;
    background: none repeat scroll 0% 0% black;
    filter: none;
}
.widgetbox.manager .body li {
    overflow: hidden;
    border-bottom: 2px dotted #7f7f7f;
}
.widgetbox.manager .body li a {
    color: white;
    font-size: 90%;
    font-weight: bold;
    float: left;
    padding: 4px 0 0 8px;
}
.widgetbox.manager .body li img {
    float: left;
    padding-left: 5px;
}
.widgetbox.manager .body input {
    float: right;
    font-size: 95%;
    margin: 10px 5px 5px;
}

/* Tips box */
.widgetbox.tips ul {
    font-size: 97%;
    list-style-type: disc;
    color: #0179cb;
    margin-left: 10px;
}
.widgetbox.tips ul li {
    padding: 10px 0;
    border-bottom: 2px dotted #7f7f7f;
}
.widgetbox.tips ul li span {
    color: black;
}
.widgetbox.tips ul li.first {
    padding-top: 0;
}
.widgetbox.tips ul li.last {
    border-bottom: none;
    padding-bottom: 0;
}

/** Register box */
.widgetbox.register a {
    float: right;
    margin-top: 30px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    background: rgb(5,120,200);
    background: -moz-linear-gradient(top, rgba(5,120,200,1) 0%, rgba(0,90,143,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,120,200,1)), color-stop(100%,rgba(0,90,143,1)));
    background: -webkit-linear-gradient(top, rgba(5,120,200,1) 0%,rgba(0,90,143,1) 100%);
    background: -o-linear-gradient(top, rgba(5,120,200,1) 0%,rgba(0,90,143,1) 100%);
    background: -ms-linear-gradient(top, rgba(5,120,200,1) 0%,rgba(0,90,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0578c8', endColorstr='#005a8f',GradientType=0 );
    background: linear-gradient(top, rgba(5,120,200,1) 0%,rgba(0,90,143,1) 100%);

    color: white;
    text-shadow: 0px 0px 3px #000;
}
.widgetbox.register a:hover {
    text-decoration: none;
}

/** Announcements, fansstats, news and fixture index boxes **/
.widgetbox.announcements h3 {
    font-weight: bold;
    padding-bottom: 5px;
}
.widgetbox.fansstats .body,
.widgetbox.fixtures .body {
    padding: 0;
}
.widgetbox.fixtures .body .footer {
    text-align: right;
    font-size: 80%;
    padding: 5px 10px;
}
.widgetbox.fixtures .body .more,
.widgetbox.news .body .more {
    padding: 5px 10px 10px;
}

.widgetbox.news .header {
    background-image: url("../images/widgetBox/widgetBox-main-header-blue.png");
}
.widgetbox.news .body {
    padding: 0;
}
.widgetbox.news li {
    padding: 10px;
    background-color: #eaeaea;
    border-bottom: 1px solid #e4e4e4;
}
.widgetbox.news li.odd {
    background-color: #f7f6f5;
}
.widgetbox.news li h3 {
    font-weight: bold;
    padding-bottom: 5px;
}
.widgetbox.news li img {
    width: 130px;
    border: 1px solid black;
    float: left;
    margin: 0 10px 0 0;
}
.widgetbox.news .news-container > img {
    padding: 10px;
}

.widgetbox.advertisement .body{
    padding: 0;
    background: none;
}

.widgetbox.facebookBox .body{
    padding: 0;
    background: none;
}

/** ************************************************************************ **/
/** Table styles (grid views etc) **/

#content .grid-view {
    padding: 0;
    /*    font-size: 110%;*/
}
#content .grid-view table.items {
    border: none;
}
#content .grid-view table.items th {
    border: none;
    background: none no-repeat scroll left top #027acc;
    font-weight: bold;
    padding: 5px;

    background: #027acc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYWJlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzM2OTBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjdhY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #5dabef 0%, #54a3ee 50%, #3690f0 51%, #027acc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5dabef), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#027acc));
    background: -webkit-linear-gradient(top,  #5dabef 0%,#54a3ee 50%,#3690f0 51%,#027acc 100%);
    background: -o-linear-gradient(top,  #5dabef 0%,#54a3ee 50%,#3690f0 51%,#027acc 100%);
    background: -ms-linear-gradient(top,  #5dabef 0%,#54a3ee 50%,#3690f0 51%,#027acc 100%);
    background: linear-gradient(top,  #5dabef 0%,#54a3ee 50%,#3690f0 51%,#027acc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dabef', endColorstr='#027acc',GradientType=0 );
}
#content .grid-view table.items tr.filters th {
}
#content .grid-view .filters input,
#content .grid-view .filters select {
    padding: 2px;
    font-size: 105%;
}
#content .grid-view .filters input {
    padding: 3px;
    width: 95%;
}
#content .grid-view table.items th,
#content .grid-view table.items td {
    border: none;
    border-bottom: 3px solid white;
    vertical-align: middle;
}
#content .grid-view table.items td.firstcol {
    font-size: 90%;
    text-align: left;
    padding: 5px;
}
#content .grid-view table.items th {
    color: #fff;
}
#content .grid-view table.items tr.odd td {
    background-color: #efefef;
}
#content .grid-view table.items tr.even td {
    background-color: #dedede;
}
#content .grid-view table.items tr.owner td {
    background-color: lightgreen;
}
#content .grid-view table.items td {
    text-align: center;
}
#content .grid-view table.items td.tright {
    text-align: right;
}
#content .grid-view table.items td.tleft {
    text-align: left;
}
#content .grid-view table.items td img {
    padding-left: 5px;
}
#content .grid-view table.items td.first-column {
    border-right: 3px solid white;
}
#content .grid-view table.items td.numeric {
    text-align: right;
}
#content .grid-view table.items td.profile-image,
#content .grid-view table.items td.profile-image img {
    width: 32px;
    padding-left: 3px;
}
#content .grid-view table.items td.manager-points {
    text-align: right;
    padding-right: 10px;
}
#content .grid-view table.items td.manager-points a{
    color: #000;
    font-weight: bold;
}
#content .grid-view table.items td.manager {
    text-align: left;
    width: 500px;
}
#content .grid-view table.items td.player a,
#content .grid-view table.items td.player img {
    float: left;
}
#content .grid-view table.items td.team-home {
    text-align: right;
}
#content .grid-view table.items td.team-away {
    text-align: left;
}
#content .grid-view table.items td.red {
    color: red;
}
#content .grid-view.clickable tbody tr {
    cursor: pointer;
}
#content .grid-view.clickable tbody tr:hover td {
    background-color: lightgoldenrodyellow;
}
#content .grid-view table.items td.player {
    font-weight: bold;
}
#content .grid-view table.items td.match a span{
    font-size: 80%;
    color: black;
}

/* pager */
#content .grid-view .pager {
    margin: 10px 0;
    overflow: hidden;
}
#content ul.yiiPager {
    float: right;
    overflow: hidden;
    padding: 5px 0;
}
#content ul.yiiPager li {
    float: left;
}
#content ul.yiiPager a:link,
#content ul.yiiPager a:visited {
    border: none;
    color: #027acc;
    padding: 2px 6px;
}
#content ul.yiiPager a:hover,
#content ul.yiiPager .selected a {
    color: white;
    background-color: #027acc;
}

/* tooltip */
#content .grid-view .tooltip a {
    outline: none;
    position: relative;
}
#content .grid-view .tooltip a span {
    margin-left: -999em;
    position: absolute;
    color: #000000;
}
#content .grid-view .tooltip a:hover span {
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -2em;
    top: 2em;
    z-index: 99;
    margin-left: 0;
    width: auto;
    padding: 0.5em;
}
#content .grid-view .tooltip a:hover em {
    font-weight: normal;
    display: block;
    padding: 0.2em 0 0.6em 0;
}
#content .grid-view .classic {
    background: #ffffff;
    border: 1px solid gray;
}

/** ************************************************************************ **/
/** Notice widget **/

.notice {
    overflow: hidden;
    background-position:10px 49%;
    background-repeat:no-repeat;
    width: 100%;
    border:1px solid #e0e0e0;
    border-left: none;
    border-right: none;
    background-color:#eeeeee;
    margin: 0 0 10px 0;
    min-height: 20px;
}
.notice > div {
    padding: 10px 10px 10px 50px;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-align: left;
    border-bottom: none;
    line-height: 22px;
}
.notice.success {
    background-image: url(../images/notice/success.png);
    color: green;
}
.notice.error {
    background-image: url(../images/notice/error.png);
    color: red;
}
.notice.info {
    background-image: url(../images/notice/info.png);
}
.notice.question {
    background-image: url(../images/notice/question.png);
}
.notice.warning {
    background-image: url(../images/notice/exclamation.png);
}
.notice.loader {
    background-image:url('../images/ajaxloader/small-bar.gif');
}
.notice.replace {
    background-image: url('../images/notice/replace.png');
}
.notice.no-background {
    background-color: transparent;
    border: none;
}
.notice.nosign > div {
    padding-left: 10px;
}
.notice.nosign > p {
    padding: 10px;
}

.notice.small  {
    background-position: 5px 50%;
    font-size: 95%;
}
.notice.small > div {
    padding: 3px 3px 3px 27px;
}
.notice.small.info {
    background-image: url(../images/notice/info-small.png);
}
.notice.small.success {
    background-image: url(../images/notice/success-small.png);
    color: green;
}
.notice.small.error {
    background-image: url(../images/notice/error-small.png);
    color: red;
}
.notice.small.question {
    background-image: url(../images/notice/question-small.png);
}
.notice.small.warning {
    background-image: url(../images/notice/exclamation-small.png);
}

/** closable **/
.notice.closable > p {
    padding-right: 25px;
}
.notice > img {
    opacity: 0.6;
    filter:alpha(opacity=60);
    float: right;
    padding: 5px 5px 0 0;
    cursor: pointer;
}
.notice:hover > img {
    opacity: 1.0;
    filter:alpha(opacity=100);
}

/** ************************************************************************ **/
/** Dialogs **/
.ui-dialog {
    font-size: 0.8em;
    text-align: left;
    box-shadow:0 0 10px #000;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}
.ui-widget-header {
    background-image: url('../images/dialog/titlebar_bkg.png');
    color: white;
}
.ui-widget-header .ui-icon {
    background-image: url("../images/dialog/ui-icons_dddddd_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    background-image: url("../images/dialog/ui-icons_222222_256x240.png");
}

/** ************************************************************************ **/
/** Information bar widget **/
.information-h-bar {
    font-size: 110%;
    margin: 0 0 10px 0;
    background: url('../images/informationBar/background.png') repeat-x;
}
.information-h-bar > ul {
    overflow: hidden;
}
.information-h-bar > ul > li {
    float: left;
    height: 32px;
    padding: 0 5px;
    font-weight: bold;
    font-size: 85%;
}
.information-h-bar > ul > li .image {
    width: 32px;
    height: 32px;
    float: left;
    background-image: url('../images/informationBar/icons.png');
    background-repeat: no-repeat;
}
.information-h-bar > ul > li .label {
    float: left;
    margin: 6px 35px 0 2px;
    color: #fff;
}
.information-h-bar > ul > li.cash{
    /*    margin-left: 0px;*/
}
.information-h-bar > ul > li.cash .image {
    background-image: url('../images/informationBar/money24.png');
    margin-right: -10px;
    margin-top: 2px;
}
.information-h-bar > ul > li.portfolio .image {
    background-position: 0px 0px;
}
.information-h-bar > ul > li.lastupdate .image {
    background-position: -32px 0px;
}
.information-h-bar > ul > li.players .image {
    background-position: -64px 0px;
}
.information-h-bar > ul > li.transactions .image {
    background-position: -96px 0px;
}
.information-h-bar > ul > li.players .details {
    text-align: right;
}
.information-h-bar > ul > li .details .header {
    text-align: center;
}
.information-h-bar > ul > li .details {
    font-weight: normal;
}
.information-h-bar > ul > li.transactions .label > span {
    float: left;
}
.information-h-bar > ul > li.transactions img.warning {
    margin: 0 5px;
}
.information-h-bar > ul > li.transactions div.warning {
    color: red;
}
.information-h-bar > ul > li.lastupdate .value-change-info {
    margin: 0 0 0 7px;
}


/** ************************************************************************ **/
/** Page specific and general **/

#rightcolumn .invite {
    padding-bottom: 10px;
    background: transparent url('../images/invitefriends.png') top left no-repeat;
    width: 200px;
    height: 38px;
    display: block;
}
#rightcolumn .invite div {
    color: white;
    float: left;
    font-weight: bold;
    padding: 10px 0 0 10px;
    text-shadow: 0 0 3px black;
}
#rightcolumn .invite.inactive {
    opacity: 0.7;
    filter:alpha(opacity=70);
}

#rightcolumn .back_onsports {
    padding-bottom: 10px;
    background: transparent url('../images/back_to_onsports_button.png') top left no-repeat;
    width: 200px;
    height: 29px;
    display: block;
}
#rightcolumn .back_onsports  div{
    display: none;
}

#loopedslider {
    padding-bottom: 10px;
}

.widgetbox.video .body {
    padding: 0;
}

.legends {
    padding: 5px;
    border: 1px solid black;
    /*    width: 100%;*/
}
.legends td {
    padding: 5px;
}
.table-outer-header {
    background-color: #efefef;
    padding: 10px;
    overflow: hidden;
}
.table-outer-header .manager-rank span {
    background-color: #027ACC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px 0 #777777;
    color: white;
    font-size: 115%;
    font-weight: bold;
    padding: 3px 8px;
}
.infolink {
    background: #EFEFFF none top left no-repeat;
    background-position: 0 50%;
    border: 1px solid #E0E0FF;
    border-top: none;
    padding: 5px;
}
.infolink.more {
    background-image: url('../images/arrows/st_right.png');
}
.infolink.close {
    background-image: url('../images/arrows/st_up.png');
}
.infolink.more a, .infolink.close a {
    margin-left: 15px;
    font-size: 90%;
}
.news-page li {
    padding: 10px;
    background-color: #eaeaea;
    border-bottom: 1px solid #e4e4e4;
}
.news-page li.odd {
    background-color: #f7f6f5;
}
.news-page li h3 {
    font-weight: bold;
    padding-bottom: 5px;
}
.news-page li .content {
    float: left;
    margin: 0 10px 10px 0;
}
.news-page li .content img {
    width: 130px;
    border: 1px solid black;
    float: left;
    margin: 0 10px 0 0;
}
.news-page li .date {
    font-style: italic;
    text-align: right;
}

.match-search-page .table-outer-header {
    text-align: center;
}
.match-search-page .table-outer-header .match-date,
.match-search-page .table-outer-header a {
    display: inline;
}
.match-search-page .table-outer-header a {
    position: relative;
    top: 3px;
}

.timezone-info {
    text-align: right;
    font-style: italic;
    font-size: 90%;
}

.match-page {
}
.match-page .score-details {
    /*    background: url('../images/field2small.jpg') transparent 50% 2px no-repeat;*/
    padding: 5px;
    margin: 10px;
    border-bottom: 2px dotted #e0e0e0;
}
.match-page .score-details table {
    width: 100%;
}
.match-page .score-details td {
    vertical-align: top;
    padding: 5px;
    text-align: center;
}
.match-page .score-details .home {
    font-size: 120%;
    width: 40%;
}
.match-page .score-details .score {
    text-align: center;
    font-size: 320%;
    color: black;
    text-shadow: grey 0 0 5px;
    width: 20%;
    padding-top: 10px;
}
.match-page .score-details .score .small-score {
    font-size: 50%;
    color: red;
}
.match-page .score-details .score div {
    font-size: 30%;
    padding-top: 15px;
}
.match-page .score-details .away {
    font-size: 120%;
    /*    text-align: right;*/
}
.match-page .score-details .date {
    text-align: center;
}

.match-page .match-details {
}
.match-page .match-details table {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 95%;
}
.match-page .match-details td {
    border-bottom: 2px solid #eee;
    padding: 4px;
}
.match-page .match-details td.dummy {
    width: 100px;
}
.match-page .match-details td.minutes-played {
    font-weight: bold;
    width: 25px;
    vertical-align: top;
    text-align: right;
}
.match-page .match-details td.player-position {
    width: 25px;
    vertical-align: top;
}
.match-page .match-details td.player-name {
    vertical-align: top;
}
.match-page .match-details td.player-name span {
    float: left;
}
.match-page .match-details td.player-name img {
    float: left;
    padding: 2px 0 0 4px;
}
.match-page .match-details td.player-name a {
    font-weight: bold;
}

.blocked-users-page table {
    width: 100%;
}
.blocked-users-page tr:hover {
    background-color: #f0f0f0;
}
.blocked-users-page td {
    padding: 10px;
    border-bottom: 2px solid #f0f0f0;
    vertical-align: middle;
}
.blocked-users-page td.profile-photo {
    text-align: right;
}
.blocked-users-page td img {
    width: 32px;
}
.blocked-users-page td.unblock {
    text-align: right;
}

/** stockmarket **/
.marketplace {
    width: 500px;
    height: 254px;
    background: transparent url('../images/stockmarket/front.png') no-repeat;
    padding: 30px 0 0 260px;
}
.marketplace > div {
    padding: 0 10px 30px 0;
    text-align: center;
    overflow: hidden;
}
.marketplace .catchphrase {
    font-size: 110%;
}
.marketplace .anchors > div,
.marketplace .anchors a {
    color: white;
    float: left;
    font-size: 110%;
    font-weight: bold;
    height: 38px;
    width: 162px;
    text-align: left;
    margin: 0 0 0 53px;
}
.marketplace .anchors > div {
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.marketplace .anchors > div div,
.marketplace .anchors a div {
    padding: 9px 0 0 40px;
}
.marketplace .anchors > div.sell,
.marketplace .anchors a.sell {
    background: transparent url('../images/stockmarket/front-sell.png') no-repeat;
}
.marketplace .anchors > div.buy,
.marketplace .anchors a.buy {
    background: transparent url('../images/stockmarket/front-buy.png') no-repeat;
}
.marketplace .status {
    font-size: 110%;
}

.player-list {
    border-collapse: separate;
}
.player-list tbody tr {
    cursor: pointer;
}
.player-list tbody tr.inactive {
    cursor: default;
}
.player-list th,
.player-list td {
    vertical-align: middle;
    padding: 3px;
    text-align: center;
}
.player-list th {
    background: #eee none no-repeat center right;
    padding: 5px 10px 5px 5px;
    font-weight: bold;
    cursor: pointer;
}
.player-list th input,
.player-list th select {
    padding: 1px;
}
.player-list .filters th {
    background-color: white;
}
.player-list td {
    border: 1px solid white;
}
.player-list .odd td {
    background-color: #eeeeee;
}
.player-list .even td {
    background-color: #dedede;
}
.player-list .inactive td,
.player-list .inactive td.stock-value {
    color: #aaa;
}
.player-list th.playername {
    text-align: left;
}
.player-list td.playername * {
    float: left;
}
.player-list td.playername img {
    margin: 0 0 0 5px;
}
.player-list td.stock-value {
    background-color: #007bcb;
    color: white;
    font-weight: bold;
}
.player-list tr:hover td {
    background-color: #444;
    color: #fff;
    border-color: #f0f0f0;
}
.player-list .sorting {
    background-image: url('../images/datatables/sort_both.png');
}
.player-list .sorting_asc {
    background-image: url('../images/datatables/sort_asc.png');
}

.player-list .sorting_desc {
    background-image: url('../images/datatables/sort_desc.png');
}
.player-list .sorting_asc_disabled {
    background-image: url('../images/datatables/sort_asc_disabled.png');
}
.player-list .sorting_desc_disabled {
    background-image: url('../images/datatables/sort_desc_disabled.png');
}
.player-list tr:hover .dataTables_empty {
    cursor: default;
    background-color: #EEEEEE;
    color: black;
}


.stockmarket-filters {
    padding-left: 5px;
}
.stockmarket-filters li {
    padding: 5px 0;
}
.stockmarket-filters li label {
    cursor: pointer;
}
.stockmarket-filters li.lastitem {
    border-top: 1px solid #d0d0d0;
}
.stockmarket-filters li.first {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 5px;
}
.stockmarket-filters li.first h3 {
    font-weight: bold;
}
.stockmarket-filters li.first .subheader {
    font-size: 82%;
}
.stockmarket-filters li.matches {
    padding-left: 10px;
    overflow: hidden;
}
.stockmarket-filters li.matches > div {
    overflow: hidden;
    display: block;
    padding: 5px 0;
}
.stockmarket-filters li.matches input,
.stockmarket-filters li.matches label,
.stockmarket-filters li.matches img {
    float: left;
    margin-right: 5px;
}
.stockmarket-filters li.matches .details {
    z-index:1000;
    text-align: center;
    font-size: 90%;
}
.stockmarket-filters .clear {
    font-weight: bold;
}

.ui-dialog .ui-dialog-content.stocksPopup {
    background: none;
    padding: 10px 0;
    font-size: 115%;
}
.stocksPopup .info-box {
    padding: 12px 15px;
    overflow: hidden;
    border-bottom: 1px #ddd solid;
}
.stocksPopup .info-box.last {
    border: none;
    padding-bottom: 0;
}
.stocksPopup .info-box.transaction-info {
    padding: 5px 15px;
}
.stocksPopup .info-box.transaction-info label {
    clear: both;
    float: left;
    margin: 5px 0;
}
.stocksPopup .info-box.transaction-info img {
    float: left;
    margin: 4px 0 0 10px;
}
.stocksPopup .player-name {
    font-weight: bold;
    font-size: 120%;
    padding: 7px 15px;
}
.stocksPopup .player-info img {
    float: left;
    width: 46px;
    height: 40px;
    margin: 5px 10px 0 0;
}
.stocksPopup .player-info table {
    float: left;
    padding: 0 0 0 7px;
}
.stocksPopup .player-info td {
    padding: 3px;
}
.stocksPopup .player-info td.transfer {
    color: #224499;
    font-weight: bold;
}
.stocksPopup .slider-info label {
    padding: 0 0 10px 0;
    display: block;
    color: #667E34;
}

.stocksPopup .slider {
    overflow: hidden;
    height: 20px;
    padding-top: 5px;
}
.stocksPopup .slider div {
    float: left;
}
.stocksPopup .slider .slider-widget {
    width: 85%;
    margin-right: 8px;
}
.stocksPopup .slider .minus,
.stocksPopup .slider .plus {
    width: 16px;
    height: 16px;
    margin-top: -1px;
    background: transparent url('../images/dialog/slider-controls.png') no-repeat top left;
}
.stocksPopup .slider .plus {
}
.stocksPopup .slider .minus {
    background-position: -16px 0;
    margin-right: 8px;
}
.stocksPopup .slider + p {
    clear: both;
}
.stocksPopup .ui-widget-header {
    background: #027acc;
}
.stocksPopup .player-info .stock-value,
.stocksPopup .transaction-info .stock-count,
.stocksPopup .transaction-info .purchase-price,
.stocksPopup .transaction-info .commission-fee {
    font-weight: bold;
}
.stocksPopup .transaction-info {
    background: -moz-linear-gradient(top,  #EBFFCE,  #c9ddad);
}
/*.stocksPopup .transaction-info .purchase-price:before {
    content: '\20AC \0020';
}*/
.stocksPopup .buttons {
    text-align:center;
}
.stocksPopup .notice {
    margin: 5px 0;
}
.stocksPopup .notice p {
    border: none;
}
.stocksPopup.transaction-wait .notice {
    position: relative;
    top: 25px;
}
.stocksPopup.transaction-result ul {
    padding: 0;
}
.stocksPopup.transaction-result li {
    float: left;
    padding: 5px 5px 0 5px;
}
.stocksPopup.transaction-result li a {
    background: none no-repeat scroll left center transparent;
    display: block;
    height: 38px;
    width: 118px;
}
.stocksPopup.transaction-result li.buy a {
    background-image: url('../images/stockmarket/result-buy.png');
}
.stocksPopup.transaction-result li.sell a {
    background-image: url('../images/stockmarket/result-sell.png');
}
.stocksPopup.transaction-result li.pitch a {
    background-image: url('../images/stockmarket/result-field.png');
}
.stocksPopup.transaction-result li span {
    color: white;
    display: block;
    font-size: 85%;
    font-weight: bold;
    padding: 5px 0 0 40px;
}

/** points page **/
#content .points-header {
    background-color: #efefef;
    padding: 10px 10px 17px 10px;
}
#content .points-header .managerpoints {
    background-color: lightGoldenRodYellow;
    border: 1px solid orange;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 5px 1px grey;
    -moz-box-shadow: 0 0 5px 1px grey;
    -webkit-box-shadow: 0 0 5px 1px grey;
    float: right;
    margin: -5px 5px 5px 5px;
    padding: 2px 7px 7px;
}
#content .points-header .managerpoints strong {
    clear: both;
    float: left;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
#content .points-header .managerpoints span {
    float: left;
    font-size: 80%;
    text-align: center;
    width: 100%;
}
#content .points-header .round {
    text-align: center;
}
#content .points-header .round select {
    margin: 0 auto;
}
#content .points-table-header {
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid #ababab;
}

/** pitch **/
.pitch-page .profile-usermenu .meta {
    width: 100%;
}

.pitch-page .controllbar {
    margin: 0 0 10px;
    overflow: hidden;
}
.pitch-page .formation {
    float: left;
}
.pitch-page .formation li {
    float: left;
}
.pitch-page .formation li.selected {
    padding: 5px;
    margin: 5px;
}
.pitch-page .formation a {
    padding: 5px;
    margin: 5px;
    display: block;
}
.pitch-page .formation a:hover,
.pitch-page .formation li.selected {
    background-color: #027acc;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.pitch-page .controllbar .leader {
    float:right;
}
.pitch-page .controllbar .leader a {
    width: 99px;
    height: 32px;
    background: url(../images/pitch/leader.png) left top no-repeat;
    color: white;
    font-size: 80%;
    font-weight: bold;
    display: block
}
.pitch-page .controllbar .leader div {
    padding: 7px 0 0 37px;
}

.pitch-layout .pitch {
    width: 736px;
    height: 274px;
    background: url(../images/pitch/field.jpg) center center no-repeat;
    width: 98%;
    margin: 0 0 10px 0;
}
.pitch-layout .pitch > table {
    margin: 0 0 0 56px;
}
.pitch-layout td {
    vertical-align: middle;
}
.pitch-layout .pitch > table > tbody > tr > td {
    padding: 13px 4px 0 0;
}
.pitch-layout .pitch > table.f532 > tbody > tr > td {
    padding-top: 3px;
}
.pitch-layout .pitchplayer {
    color: black;
    width: 157px;
    height: 51px;
    overflow:hidden;
    display: block;
}
.pitch-layout .pitchplayer.empty {
    background-image: url('../images/pitch/pitch-player-empty.png');
}
.pitch-layout .pitchplayer.nonempty,
.pitch-layout .pitchplayer.nonempty.disabled:hover {
    background-image: url('../images/pitch/pitch-player.png');
}
.pitch-layout .pitchplayer.disabled,
.pitch-layout .pitchplayer.disabled:hover {
    opacity: 0.5;
    filter:alpha(opacity=50);
    cursor: default;
}
.pitch-layout .pitchplayer.nonempty.clickable:hover,
.pitch-layout .pitchplayer.nonempty.selected {
    background-image: url('../images/pitch/pitch-player-selected.png');
}
.pitch-layout .pitchplayer.selected {
    cursor: default;
}
.pitch-layout .pitchplayer span.jersey {
    float: left;
    height: 100%;
    width: 35px;
}
.pitch-layout .pitchplayer span.name {
    font-size: 80%;
    font-weight: bold;
    float: left;
}
.pitch-layout .pitchplayer span.shares-value {
    color: white;
    float: left;
    font-size: 90%;
    overflow: hidden;
    padding: 7px 0 0 0;
    width: 66%;
}
.pitch-layout .pitchplayer span.shares-value span {
    float: right;
}
.pitch-layout .pitchplayer span.shares-value img {
    margin: 0px 3px;
    width: 16px;
    float: left;
}
.pitch-layout .pitchplayer span.shares-value img + img {
    margin: 0;
}
.pitch-layout img.leader {
    left: 15px;
    position: relative;
    top: 0;
}
.pitch-layout .empty img.leader {
    left: -8px;
    top: 18px;
}
.pitch-layout img.jersey {
    position: relative;
    left: 9px;
    top: 14px;
}
.pitch-layout .empty img.jersey {
    left: 10px;
    top: 14px;
}

.pitch-layout .bench h4 {
    font-weight: bold;
    background-color: #f0f0f0;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
}
.pitch-layout .bench > table {
    margin: 0 0 0 56px;
}
.pitch-layout .bench td {
    padding: 0 5px 0 0;
    width: 157px;
}

.pitch-banners {
    overflow: hidden;
    margin: 0 0 -2px 103px;
}
.pitch-banners div.left, .pitch-banners div.right{
    /*    background: none repeat scroll 0 0 lightgray;*/
    float: left;
    height: 40px;
    margin: 5px 2px;
    width: 273px;
}

#leaderList {
    text-align: left;
}
#leaderList li {
    padding: 3px 0;
}

/**************************/
/** manager profile page **/

/** manager profile photo **/
#left-profile-column .profilethumb {
    overflow: hidden;
}
#left-profile-column .profilethumb .photo {
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px 2px lightgrey;
    -moz-box-shadow: 0 0 10px 2px lightgrey;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
    float: left;
    height: 135px;
    margin: 10px 10px 10px 15px;
    width: 160px;
}
#left-profile-column .profilethumb .remove {
    left: 165px;
    position: relative;
    top: -2px;
    display: none;
    z-index: 1;
}
#left-profile-column .profilethumb.active:hover .remove {
    display: block;
}
#left-profile-column .profilethumb.active #uploadFile {
    float: left;
}
#left-profile-column .profilethumb.active:hover #uploadFile {
    margin-top: -24px;
}
#left-profile-column .progress {
    padding: 0 10px;
    display: none;
}
#left-profile-column .progress #photoUploadProgressBar {
    height: 15px;
}
#left-profile-column .qq-upload-button {
    width: 100%;
    border: none;
    padding: 0;
    background: none;
}
#left-profile-column #uploadFile,
#left-profile-column .progress {
    margin: 0 0 5px 0;
}
.upload-photo-hint .help {
    float: right;
    margin-left: 10px;
}
.upload-photo-hint .hint {
    float: left;
    font-size: 90%;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 15px;
    margin: 5px 0;
}
.upload-photo-hint .hint a {
    color: #b1b1d4;
}
/*****************************/


#left-profile-column .profile .links span {
    color: #999;
}
#left-profile-column .profile .links li {
    border-bottom: 1px solid #CCCCCC;
}
#left-profile-column .profile .links li a,
#left-profile-column .profile .links li span {
    display: block;
    padding: 5px 5px 5px 11px;
    background: none no-repeat scroll 9px 50% transparent;
}
#left-profile-column .profile .links.top li {
    border: none;
}

#left-profile-column .profile .links li span {
    font-size: 100%;
    opacity: 0.7;
    filter:alpha(opacity=70);
}
#left-profile-column .profile .links li .button {
    background: transparent no-repeat 5px 50% none;
    padding-left: 30px;
}

#left-profile-column .profile .information {
    border: 1px solid #CCCCCC;
    font-size: 90%;
    padding: 0 10px;
}
#left-profile-column .profile .information > div,
#left-profile-column .profile .information > span {
    margin: 5px 0;
    overflow: hidden;
}
#left-profile-column .profile .information div > div {
    color: #888;
}
#left-profile-column .profile .information div > div + div {
    color: #000;
}
#left-profile-column .information .editable {
    float: left;
    color: black;
}
#left-profile-column .information .editable .unedited {
    color: #01558F;
}
#left-profile-column form.inline-edit select,
#left-profile-column form.inline-edit input {
    padding: 0;
    font-size: 110%;
    width: 115px
}
#left-profile-column form.inline-edit button {
    padding: 2px;
}
#dob_datepicker {
    width:1px;
    height: 1px;
    visibility: hidden;
}

.profile-usermenu {
    background-color: #f0f0f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #ddd;
}
.profile-usermenu h3 {
    font-weight: bold;
    font-size: 110%;
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 5px 0;
}

.profile-usermenu .meta {
    float: left;
    font-size: 90%;
}
.profile-usermenu .meta li {
    overflow: hidden;
}
.profile-usermenu .meta label {
    width: 100px;
    display: inline;
}
.profile-usermenu .meta .name {
    float: left;
    font-size: 130%;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 0 2px #AAAAAA;
}
.profile-usermenu .meta .banned .username {
}
.profile-usermenu .meta .team {
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 2px;
    color: green;
}
.profile-usermenu .meta .banned {
    background: none repeat scroll 0 0 lightcoral;
    float: left;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 2px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.profile-usermenu.user-profile .name {
    padding: 0 0 5px;
}

.profile-usermenu .menu {
    float: right;
}
.profile-usermenu .menu a {
    display: block;
    float: left;
    padding: 2px;
}
.profile-usermenu .menu a:hover {
    border-bottom: 5px greenyellow solid;
}
.profile-usermenu .menu a.selected {
    border-bottom: 5px green solid;
}
.profile-usermenu .menu a.selected:hover {
    border: none;
}

.profile-catchprase {
    background: url("../images/catchphrase.png") no-repeat scroll 10px 50% #F0F0F0;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 20px 20px 20px 64px;
    overflow: hidden;
}
.profile-catchprase .editable {
    float: left;
}

.profile-info-section {
    margin: 0 0 20px 0;
}
.profile-info-section h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 105%;
    font-weight: bold;
    margin: 4px 0;
    padding: 0 0 4px;
}
.profile-info-section.fav-team h3 {
    margin-bottom: 15px;
}
.profile-info-section.game-info table,
.profile-info-section.fav-team table {
    font-size: 120%;
}
.profile-info-section.game-info td,
.profile-info-section.fav-team td {
    padding: 5px 10px;
    vertical-align: middle;
}
.profile-info-section.game-info .first,
.profile-info-section.fav-team .first {
    text-align: right;
    width: 120px;
}

.profile-info-section.transactions ul {
    list-style-type: disc;
    margin: 0 0 0 20px;
}
.profile-info-section.transactions li {
    padding: 3px 0;
}
.profile-info-section.transactions .date {
    color: #8E8E8E;
    padding: 0 20px 0 0;
}
.profile-info-section.transactions .sell {
    color: #AF2020;
}
.profile-info-section.transactions .buy {
    color: #27926D;
}

/** create team process **/
.widgetbox.manager .body li.create-team a {
    background: url("../images/createTeam/create_team.png") no-repeat scroll 50% 0 transparent;
    display: block;
    height: 43px;
    margin: 10px 0;
}
.widgetbox.manager .body li.create-team span {
    display: block;
    font-size: 120%;
    padding: 0 10px 0 55px;
}
form.create-team {
    border-top: 1px solid #D0D0D0;
    margin: 10px 0 0;
    padding: 10px 0 0;
    text-align: right;
}
form.create-team input {
    margin: 10px 0 10px 10px;
}
#create-team-first-step label {
    width: 300px;
}
#create-team-first-step input[type=text],
#create-team-first-step select {
    width: 200px;
}
#create-team-first-step .buttons {
    padding-left: 310px;
}
#create-team-first-step .errorMessage {
    margin-left: 310px;
}
#create-team-second-step p {
    padding: 5px 0;
    margin: 5px 0;
    text-align: justify;
}
.profile-usermenu.create-team {
    margin: 0 0 10px;
}
.profile-usermenu.create-team .name {
    float: none;
}
.profile-usermenu.create-team .details {
    font-size: 130%;
    overflow: hidden;
    padding: 5px 0 0;
}
.profile-usermenu.create-team .details span {
    font-weight: bold;
}
.player-list.create-team th,
.player-list.create-team td {
    padding: 5px;
}
.player-list.create-team .playername {
    padding-left: 10px;
}
.player-list.create-team .playername img {
    margin: -3px 0 0 5px;
}
.stats-link  {
    float: right;
    margin: 15px 0 0;
}
.pitch-layout .clear-player {
    float: right
}
.pitch-layout .clear-player span {
    background-image: url("../images/pitch/new_player_close.png");
    cursor: pointer;
    display: none;
    height: 24px;
    left: 3px;
    position: relative;
    top: -28px;
    width: 24px;
}
.pitch-layout .pitchplayer:hover .clear-player span {
    display: block;
}


/*********************Announcements***************************/
.announcement-date {
    padding-bottom: 15px;
    float: left;
}
.announcement-date h1 {
    color: #01558F;
    font: bold 15px Verdana,Tahoma,Arial;
    margin: 5px 0px 10px 0px;
}
.announcement .time {
    float: left;
    width: 40px;
    padding-right: 15px;
}
.announcement .details {
    float: right;
    width: 700px;
}
.announcement .details .title {
    padding-bottom: 8px;
    font-size: 110%;
}
.announcement-date.even {
    background-color: #f7f6f5
}
/**********************Player profile********************************/
#left-profile-column .chart {
    overflow: hidden;
    padding-bottom: 15px;
    height: 200px;
    width: 200px;
}

.profile-usermenu.player-view .status img {
    float: left;
    margin: 0 0 0 5px;
}
.player-profile-info {
    background-color: #F0F0F0;
    padding: 20px 0 20px 0;
    overflow: hidden;
}
.player-profile-info.game-info > img {
    float: left;
    margin: 5px 0 0 15px;
}
.player-profile-info.game-info table {
    font-size: 120%;
    float: left;
}
.player-profile-info.game-info td {
    padding: 5px 10px;
    vertical-align: middle;
}
.player-profile-info.game-info .first {
    width: 120px;
}
.player-profile-stats {
    padding: 20px 0 20px 0;
}
.player-profile-stats h3 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 105%;
    font-weight: bold;
    margin: 4px 0;
    padding: 0 0 4px;
}
.player-profile-stats table.stats td {
    font-size: 120% !important;
    text-shadow: 0 0 6px #999;
}
div.tooltip.player-events {
    padding: 4px;
}
div.tooltip.player-events div {
    overflow: hidden;
    margin: 3px 0;
}
div.tooltip.player-events div label {
    float: right;
    margin: 0 5px 0 0;
}
div.tooltip.player-events div span {
    float: right;
    width: 20px;
    text-align: right;
}

/*****************Chat***************************/
.chat {
    height: 400px;
    overflow: auto;
}
.chatForm {
    margin-top:15px;
}
.chatFormTitle {
    color: #fff;
    text-align: center;
    width: 100%;
    background-color:#000;
    font-weight: bold;
    border-top: 1px  solid #D5D2C1;
    border-bottom: 1px solid #D5D2C1;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 7px;
}
.chatFormTitle img {
    vertical-align: middle;
    float:right;
    margin-top: -7px;
    margin-right: 5px;
}
.chatbox table {
    text-align: left;
    width:100%;
}
.chatbox table td {
    padding: 0;
}
.chatbox .date {
    width: 20%;
}
.chatbox .self a {
    font-weight: bold;
    color: #000;
}
.chatForm form {
    text-align:left;
}
.chatForm form img {
    display:none;
}

.errorPage {
    text-align: center;
}

.screenshot-row {
    border-bottom: 2px dotted #AAAAAA;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 0 0 15px;
    width: 100%;
}

/** Jui datepicker **/
.ui-datepicker {
    font-size: 90%;
}
.ui-datepicker select {
    padding: 0;
}

/***********Portfolio changes************/
.value-change-info {
    background: transparent none no-repeat center right;
}
.value-change-info.neutral {
    background-image: url('../images/iconset/arrow_gray.png');
}
.value-change-info.neutral.big {
    background-image: url('../images/iconset/arrow_gray_big.png');
}
.value-change-info.negative {
    background-image: url('../images/iconset/arrow_red_down.png');
    color:#fd5068;
}
.value-change-info.negative.big {
    background-image: url('../images/iconset/arrow_red_down_big.png');
}
.value-change-info.positive {
    background-image: url('../images/iconset/arrow_green_up.png');
    color:#0ec80a;
}
.value-change-info.positive.big {
    background-image: url('../images/iconset/arrow_green_up_big.png');
}
.value-change-info span {
    margin: 0 12px 0 0;
}
.value-change-info.big span {
    margin: 0 20px 0 0;
}

/** portfolio **/
#content .grid-view.points .player-status {
    width: 18px;
}
#content .grid-view.points .player-status img {
    width: 12px;
}
#content .grid-view.points .match .active {
    font-weight: bold;
}
#content .grid-view td.manager a {
    float: left;
}
#content .grid-view td.manager > div {
    clear: both;
}
#content .grid-view td.manager > span {
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 2px;
}
#content .grid-view td.manager > span a {
    color: black;
}
.sidebar-ad {
    width: 200px;
    height: 150px;
    padding: 10px 0;
}

.social-links {
    margin: 10px 0 -5px 22px;
    float: left;
}
/****************Rating system********/
.rating {
    clear: both;
    float: left;
    /*    margin-top: -8px;*/
}
.rating div {
    display: inline;
    float: left;
    padding-right: 5px;
}
/*Overrides*/
div.star-rating-on a{
    background-position:0 -32px!important
}
div.star-rating-hover a{
    background-position:0 -16px
}

/****************Watchlist****************/
.watchlist-player {
    margin-bottom: 10px;
    background: #F0F0F0;
}

.watchlist-button {
    float: right;
    margin-top: -5px;
}

.watchlist-button div {
    padding: 5px;
    text-align: right;
    font-size: 90%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.watchlist-button div img {
    padding-right: 3px;
    margin-bottom: -5px;
}

.watchlist-button .add-watchlist {
    color: #00840c;
}

.watchlist-button .remove-watchlist {
    color: #CB4E38;
}

.watchlist-button .no-watchlist {
    color: #9F9F9F;
}

.watchlist-player .profile-usermenu {
    border: none;
    border-bottom: 1px solid #ddd;
}

.watchlist-count {
    color: #222;
    font-weight: bold;
    margin-top: 20px;
}
/************Match voting*****************/

.matchVoting {
    background: rgb(220,220,220);
    background: -moz-linear-gradient(top, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 );
    background: linear-gradient(top, rgba(220,220,220,1) 0%,rgba(255,255,255,1) 100%);
    height: 130px;
    border-bottom: 1px solid #DDDDDD;
}

.matchVoting .question {
    float: left;
    font-size: 110%;
    font-weight: bold;
    margin: 8px 0 0 10px;
    width: 75%;
    color: #984217;
}

.matchVoting .votes-text {
    float: right;
    width: 15%;
    margin: 8px 20px 0 0;
    text-align: right;
}

.matchVoting .box {
    padding: 5px;
    text-align: center;
    width: 32%;
    float: left;
    margin-top: 8px;
}

.matchVoting .box .box-image {
    width: 64px;
    height: 64px;
    margin-left: 90px;
    background: url("../images/voting/votebox.png") no-repeat scroll -79px 0px transparent;
}

.matchVoting .box .box-image:hover {
    background-position: -8px 0px;
}

.matchVoting .box .box-text {
    font-size: 105%;
}

.matchVoting .box .box-perc {
    color: black;
    font-size: 300%;
    margin: 15px 0 -30px 0;
    text-shadow: 0 0 5px grey;
    height: 64px;
}
.matchVoting .box .bar {
    margin-left: 70px;
    width: 100px ;
    height: 10px ;
    border: 1px solid #444444;
    background: url('../images/voting/grey.png') repeat-x top right ;
    background-color: #656565 ;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.matchVoting .box .barfill {
    height: 10px ;
    float: left ;
    background: url('../images/voting/blue.png') repeat-x top right ;
    background-color: #6ba8e5 ;
}

/** Editable elements **/
/** Styles for inline editing **/
.editable {
    cursor: pointer;
    background: transparent no-repeat top right none;
    padding-right: 20px;
}
.editable:hover {
    background-image: url('../images/iconset/edit.png');
}

/** Registration page **/
form.register #Manager_username {
    background-repeat: no-repeat;
    background-position: 99% 50%;
}
form.register #Manager_username.loading {
    background-image: url("../images/ajaxloader/small-circle.gif");
}
form.register #Manager_username.available {
    background-image: url("../images/notice/success-small.png");
}
form.register #Manager_username.unavailable {
    background-image: url("../images/notice/error-small.png");
}

/*********Notification dialog***********/
#notification-dialog div {
    margin: 15px;
}
#notification-dialog .buttons {
    float: right;
}
#notification-dialog .buttons a {
    margin: 0 10px;
}

/*********Static window************/
.staticWindow {
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    padding: 15px;
    border: 1px solid #222;
    box-shadow: 0 0 10px 2px lightgrey;
    -moz-box-shadow: 0 0 10px 2px lightgrey;
    -webkit-box-shadow: 0 0 10px 2px lightgrey;
    background: #eee;
}