
#loopedslider .container {
    width:760px;
    height:339px;
    overflow:hidden;
    position:relative;
    /*			cursor:pointer;*/
}
#loopedslider .slides {
    position:absolute;
    top:0;
    left:0;
}
#loopedslider .slides > div {
    position:absolute;
    top:0;
    width:760px;
    display:none;
}
#loopedslider .controls {
    float:left;
    height:0px;
}

#loopedslider {
    margin:0 auto;
    width:760px;
    position:relative;
    clear:both;
}
#loopedslider .controls a {
    position:relative;
}
#loopedslider .previous {
    top:-176px;
    left:10px;
}
#loopedslider .next {
    top:-176px;
    left:690px;
}
