/** mailbox **/

.mailbox table {
    width: 100%;
}
.mailbox th {
    font-weight: bold;
}
.mailbox th,
.mailbox .footer td {
    color: white;
    background-color: #027ACC;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #027ACC;
}
.mailbox td {
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    border: 1px solid #e0e0e0;
}
.mailbox tr:hover {
    background-color: #f0f0f0;
}
.mailbox .check-delete {
    padding: 5px 0;
}
.mailbox .subject {
    text-align: left;
    width: 50%;
}
.mailbox .unread td {
    font-weight: bold;
}
.mailbox .footer input {
    width: 24px;
}
.mailbox .emptymailbox td {
    text-align: center;
    color: grey;
    font-style: italic;
    padding: 5px;
}
.mailbox .sendersystem {
    color: red;
}
.mailbox .footer .pagenav {
    font-size: 150%;
}
.mailbox .footer .pagenav span {
    color: #d0d0d0;
    padding: 5px;
}
.mailbox .footer .pagenav a {
    color: white;
    padding: 5px;
}

/** view message **/
.view-message {
    padding: 0 10px;
}
.view-message > div {
    margin: 5px 0;
    font-weight: bold;
}
.view-message > div.date {
    font-weight: normal;
}
.view-message > div.message {
    background: none repeat scroll 0 0 #F6f6f6;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: normal;
    padding: 10px;
    text-align: justify;
    margin: 10px 0;
    box-shadow: 0 0 5px 1px #999;
    -moz-box-shadow: 0 0 5px 1px #999;
    -webkit-box-shadow: 0 0 5px 1px #999;
}
.view-message > div.buttons {
    text-align: center;
}
.view-message > div label {
    color: #777777;
    float: left;
    font-size: 90%;
    font-weight: bold;
    width: 120px;
}
.view-message > div.actions {
    overflow: hidden;
    text-align: right;
}
.view-message > div.actions a {
    background: none no-repeat scroll 3px 50% #f6f6f6;
    border: 1px solid #f0f0f0;
    float: right;
    font-size: 85%;
    font-weight: normal;
    margin: 0 0 0 5px;
    padding: 5px 5px 5px 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.view-message > div.actions a:hover {
    background-color: #f0f0f0;
}
.view-message > div.actions .report {
    background-image: url('../images/warn.png');
}
.view-message > div.actions .delete {
    background-image: url('../images/delete.png');
}

/** message compose **/
.compose-message form .row textarea {
    font-size: 120%;
    height: 150px;
}
form .row.buttons {
    width: 310px;
}
form .row.buttons .character-count {
    font-size: 90%;
    float: right;
}