.notification {
    font-size: 95%;
    overflow: hidden;
}
.notification .message {
    background: none no-repeat scroll 2px 50% transparent;
    float: left;
    margin: 0 5px;
    padding: 5px 5px 5px 23px;
}
.notification.info .message {
    background-image: url("../images/info.png");
}
.notification.question .message{
    background-image: url("../images/question.png");
}

.notification .loader,
.notification .buttons {
    margin: 6px 0 0 0;
    float: left;
}
.notification .buttons a,
.notification .buttons span {
    margin-right: 5px;
}
.notification .buttons span.disabled {
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.notification .buttons img {
    width: 18px;
}
.notification .error {
    background: none repeat scroll 0 0 #F0F0F0;
    clear: both;
    float: left;
    padding: 3px 3px 3px 22px;
    width: 100%;
    color: red;
    font-size: 95%;
}

.notification .loader
,.notification .error {
    display: none;
}
