body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

.hidden {
    display: none;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #2d444f;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #2d444f;
}

#content
{
    padding: 10px 5px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 5px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #2d444f;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#time
{
    text-align: right;
    padding-right: 5px;
}

.help-icon
{
    float: right;
    padding: 10px;
}

/*#mainmenu
{
    background:#7C9549;
}

#mainmenu ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-family: Helvetica,Arial,Helvetica,sans-serif;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #7C9549;
    background-color:white;
    text-decoration:none;
}*/

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

.row_separator {
    border-bottom: 2px solid black;
}

.add-item {
    background: url("../images/add-item.png") no-repeat scroll 5px 6px transparent;
    border: 1px solid #50C717;
    border-radius: 20px 20px 20px 20px;
    float: right;
    height: 24px;
    padding: 5px;
    color: #50C717;
}
.add-item:hover {
    background-color: #50C717;
    color: white;
}
.add-item span {
    display: block;
    padding: 4px 0 0 26px;
}

.notice {
    padding: 10px;
    font-size: 90%;
    margin: 0 0 10px 0;
}
.notice pre {
    margin: 0;
}
.notice.error {
    background-color: lightcoral;
    color:white;
}
.notice.success {
    background-color: lightgreen;
    font-weight: bold;
    color: black;
}
.notice p {
    margin: 0;
}

.form .row textarea {
    width: 300px;
    height: 150px;
}
.form .row.image img {
    width: 64px;
    padding: 10px;
    border: 1px solid #d0d0d0;
}

#colorSelector {
    background: url("../images/colorpicker-selector.png") repeat scroll 0 0 transparent;
    height: 36px;
    position: relative;
    width: 36px;
}
#colorSelector div {
    background: url("../images/colorpicker-selector.png") repeat scroll center center transparent;
    height: 30px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 30px;
}
#CmsTheme_color {
    height: 0;
    width: 0;
    visibility: hidden;
}
.theme-rule .color {
    display: block;
    width: 48px;
    height: 48px;
}
.theme-rule img {
    width: 48px;
}
.center-align {
    text-align: center;
    font-weight: bold;
}
.red {
    color: red;
}
.reset-section {
    border-top: 1px solid;
    text-align: center;
}
.reset-section #reset-managers {
    font-size: 110%;
    color: #8a1f11;
    margin-top: 20px;
    display: block;
}


/************MANAGER VIEW**************/
.manager-top {
    text-align: center;
    overflow: hidden;
}
.manager-top a{
    font: inherit;
    font-size: 100%;
    font-weight: normal;
    color: #222;
}
.manager-top div {
    margin-bottom: 5px;
}
.manager-top .username {
    font-size: 200%;
    font-weight: bold;
    color: #8a1f11;
}
.manager-top .teamName {
    font-weight: bold;
    clear: both;
}
.dates {
    text-align: center;
}
.dates div:not(.date){
    float: left;
    width: 25%;
}
.dates .date {
    color: #2D444F;
    font-weight: bold;
}
.manager-top .teamName span {
    font-size: 125%;
    color: #8a1f11;
}
.manager-top .photo {
    font-style: italic;
    border: 1px solid #ddd;
    width: 160px;
    margin: 5px auto;
}
.manager-top .remove,
.manager-top .removeLine {
    display: none;
    left: 79px;
    position: relative;
    top: -10px;
    z-index: 1;
}
.manager-top .removeLine {
    left: 235px;
}
.manager-top .photo:hover .remove {
    display: block;
}
.manager-top .photo:hover #pic {
    margin-top: -24px;
}
.manager-top .personal {
    font-style: italic;
    border: 1px solid #ddd;
    color: #8a1f11;
    width: 50%;
    margin: 5px auto;
}
.manager-top .personal:hover .removeLine {
    display: block;
}
.manager-top .personal #line,
.manager-top .personal #no-line{
    color: #444;
    margin: 5px;
}
.manager-top .personal:hover #line {
    margin-top: -19px;
}
.manager-top .status div {
    font-style: italic;
    color: red;
}
.manager-main {
    margin-top: 10px;
}
.manager-main .left-column {
    float: left;
    width: 49%;
}
.manager-main .right-column {
    float: right;
    width: 49%;
}
.manager-main .header {
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 150%;
}
.manager-main p {
    margin: 10px;
    font-size: 120%;
}
.manager-main a {
    font: inherit;
    font-size: 100%;
    font-weight: normal;
    padding: 5px;
}
.manager-main a:hover {
    background-color: wheat;
}
.manager-main p span,
.manager-main p span a {
    color: #438a4c;
}
.manager-main img {
    width: 24px;
    padding-left: 10px;
}
.manager-main p .gray{
    color: #000;
}
.separator {
    clear: both;
    height: 1px;
    background: #aaa;
}
.actions {
    text-align: center;
    margin-top: 20px;
}
.actions span {
    padding: 5px 25px;
}
.actions .ban {
    background: url(../images/locked.png) no-repeat;
}
.actions .activate {
    background: url(../images/activate.png) no-repeat;
}
.actions .message {
    background: url(../images/message.png) no-repeat;
}
.dialog,
.ban-dialog,
.msg-dialog {
    display: none;
}
.dialog h4 {
    text-align: center;
    color: #2D444F;
    font-weight: bold;
}
.msg-dialog .row{
    text-align: center;
    margin: 25px 0;
}
.msg-dialog .row label {
    display: block;
}
.cke_skin_kama {
    z-index: inherit;
}

.ui-datepicker {
    font-size: 90%;
}
.ui-timepicker-div dl dt {
    font-size: 90%;
    height: 23px;
    letter-spacing: 0.1em;
}

/*********moved from screen.css*************/
.team_home {height: 500px;}
.team_away {height: 500px;}

.totals {background-color: #ddd}
.totals td {font-weight: bold; background-color: #ddd !important; border-top: 1px solid}

.home {border-bottom: 1px solid; padding-bottom: 10px; margin-bottom: 10px;}
.stats input {border: none; border-bottom: 1px solid; text-align: center; font-size: 18px;}
.stats table input {border: none; text-align: center; font-size: 14px;}
.stats table tr {background-color:#E5ECF9}
.stats table th {font-weight: bold; background-color: #ddd; width: 7%}
.stats table .largerow {font-weight: bold; background-color: #ddd; width: 19%}
.away { padding-bottom: 10px; margin-bottom: 10px;}

.photo_cb {float:right;}
.photo {width: auto;}
.photo td {width: auto;}

.selected {font-weight: bold; color:black}

.stables table th {
    padding-left: 5px;
    color: white;
    background: url("bg_blue.gif") repeat-x scroll left top white;
    text-align: left;}

.stables span {
    color: #C00;
    font-style: italic;
    font-size: larger;
}

.stables .success {
    color: #060;
    font-style: italic;
    font-size: larger;
}

.addButton {
    display: inline-block;
    border: 1px solid #777777;
    color: black;
    background-color: #e5ffe8;
    padding: 5px;
}

.addButton:hover {
    background-color: #C5FBBD;
}

.resetbtn {
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
}

.resetbtn:hover {
    color: #fe7800;
}

#dialog, #reset-dialog {display: none}

.features { font-size: 120%; font-weight: bold; margin: 50px 0;}
.features div { float: left; width: 33%; text-align: center;}
.features div div { width: 100%; margin: 0 auto; }
.features div .on { background: url(../images/light_on.png) center center no-repeat #000 }
.features div .off { background: url(../images/light_off.png) center center no-repeat #000 }

.featuresActions { margin-top: 250px; }

.bold { font-weight: bold; width: 70%}

.indexDiv { height: 300px; margin-bottom: 10px; }

.active_users { border: 1px solid; width:46%; padding: 10px; overflow: hidden; margin-bottom: 10px; float:left;}
.active_users a { font: normal 100% Arial,Helvetica,sans-serif; }
.active_users .registered { border-bottom: 1px dotted; }
.active_users div { font-size: 150%; padding: 5px;}
.active_users div span { font-weight: bold; float: right; }

.top_users { border: 1px solid; width:46%; padding: 10px; overflow: hidden; margin-bottom: 10px; float:right;}
.top_users a { font: normal 100% Arial,Helvetica,sans-serif; }
.top_users .registered { border-bottom: 1px dotted; }
.top_users div { font-size: 150%; padding: 5px;}
.top_users div span { font-weight: bold; float: right; }

.users { border: 1px solid; width:46%; float: left; padding: 10px; overflow: hidden;}
.users a { font: normal 100% Arial,Helvetica,sans-serif; }
.users .registered { border-bottom: 1px dotted; }
.users div { font-size: 150%; padding: 5px;}
.users div span { font-weight: bold; float: right; }
.charts { height: 200px; margin-left: -20px;}
.users .attention { color: red; }

.game { border: 1px solid; width:46%; float: right; padding: 10px; overflow: hidden; }
.game a { font: normal 100% Arial,Helvetica,sans-serif; }
.game .logged_in { border-bottom: 1px dotted; }
.game .period{ font-size: 100%; text-align: right;}
.game .period .bold { color: black; }
.game div { font-size: 150%; padding: 5px; }
.game div span { font-weight: bold; float: right;}

.regChart { border: 1px solid; width:97%; float: left; padding: 10px; overflow: hidden; margin-top: 10px; }
.otherCharts { border: 1px solid; width:97%; float: left; padding: 10px; overflow: hidden; margin-top: 10px; }

#dialogPlayers, #dialogManagers, #dialogDeleting, #dialogLocked { display: none; }

.pointsForm { width: 100%; text-align: center; }
.points { border: 2px solid #000; color: #fff; width: 150px; height: 50px; background-color: #060; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-style: groove;  margin: 0px auto;}
.points:disabled { background-color: #aaa; text-decoration: line-through; }

.scriptLog { border: 2px solid #666; padding: 10px; font: 100% monospace; color: green;  font-weight: bold; height: 500px; overflow: scroll}
.scriptLog .error { color: red;}

.reports, .messageDetails { text-align: center; }
.reports div, .messageDetails div { margin-bottom: 25px; }
.messageDetails div {margin-top: 15px; }
.reports .user{ text-align: center;}
.reports .user a {font-size: 125%;}
.reports .options span, .messageDetails .options span { padding: 5px 15px; }
.reports .options span a, .messageDetails .options span a{font-size: 85%; padding: 10px; color: #777;}
.reports .options .delete, .messageDetails .options .delete { background: url(../images/delete.png) no-repeat}
.reports .options .remove, .messageDetails .options .remove { background: url(../images/remove.png) no-repeat}
.reports .options .ban, .messageDetails .options .ban { background: url(../images/locked.png) no-repeat}
.reports .options .hide, .messageDetails .options .hide { background: url(../images/hide.png) no-repeat}
.reports .info,  .messageDetails .info {font-style: italic; border: 1px solid #ddd; color: #000;}
.messageDetails .title span a { color: #060; }
.messageDetails .title span { font-weight: bold; }
.reports .grid-view { display: block; }
.messageDetails .info span {font-size: 100%; font-weight: bold; display: block; }
 .messageDetails .info {font-size: 90%; }

 /** control panels **/
 .controls { overflow: hidden; }
 .controls a { float: left; margin: 5px; }
 .controls a.active {background-color: #c5fbbd; box-shadow: 0 0 5px 0 #444444;}
