.grid-view-loading
{
    background:url(loading.gif) no-repeat;
}

.grid-view table.items
{
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td
{
    /*	font-size: 0.9em;*/
    /*	border: none;*/
    border-bottom: 1px solid #e1e4ff;
    padding: 0.3em;
    font-size: 100%;
}

.grid-view table.items th
{
    color: white;
    background: url("bg_blue.gif") repeat-x scroll left top white;
    text-align: center;
}

.grid-view table.items th a
{
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
    background:url("../images/sort_both.png") right center no-repeat;
    padding-right: 20px;
}

.grid-view table.items th a:hover
{
    color: #FFF;
}

.grid-view table.items th a.asc
{
    background:url("../images/sort_up.png") right center no-repeat;
}

.grid-view table.items th a.desc
{
    background:url("../images/sort_down.png") right center no-repeat;
}

.grid-view table.items tr.even
{
    background: #F8F8F8;
}

.grid-view table.items tr.odd
{
    background: #F8F8F8;
}

.grid-view table.items tr.selected
{
    background: #BCE774;
}

.grid-view table.items tr:hover
{
    background: #ECFBD4;
}

.grid-view .link-column img
{
    border: 0;
}

.grid-view .button-column
{
    text-align: center;
    width: 60px;
}

.grid-view .button-column img
{
    border: 0;
}

.grid-view .checkbox-column
{
    width: 15px;
}

.grid-view .summary
{
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view .pager
{
    margin: 5px 0 0 0;
    text-align: right;
    color:#015F70;
    border-color:#015F70;
}

.grid-view .empty
{
    font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #E7E7E7;
    color: gray;
    font-style: italic;
}

/*.grid-view .filters
{
    background-color: #9FC05C;
}*/

.grid-view .filters hover
{
    background-color: #9FC05C !important;
}

.grid-view select
{
    background-color: white;
}

.grid-view table.items td a{
    color: #328291;
    font: normal 90% Verdana,Tahoma,Arial;
}

.grid-view table.items td a:hover{
    color: #FE7800;
    text-decoration:none;
}

.gridralign{
    float:right;
}

.grid-view .tcenter{
    text-align: center;
}

.grid-view .tright{
    text-align: right;
}

.grid-view .dateres{
    width: 29%;
}

.grid-view .teamres{
    width:28%;
}

.grid-view .scoreres{
    width: 15%;
}

/** OVERRIDES **/

.grid-view table.items th, .grid-view table.items td img { padding-left: 5px; }

.grid-view .pager a:link,
.grid-view .pager a:visited
{
    border:solid 1px #015F70;
    font-weight:bold;
    color:#015F70;
    padding:1px 6px;
    text-decoration:none;
}
.grid-view .pager .hidden a,
.grid-view .pager .hidden a:link,
.grid-view .pager .hidden a:visited
{
    border:solid 1px #DEDEDE;
    color:#888888;
}
.grid-view .pager .selected a { background-color: #D0E3EF; border-color: #015F70}
.grid-view .pager .page a:link, ul.yiiPager a:visited { color: #015F70; border-color: #015F70; }

.grid-view .forum-category-image img { width: 24px; }


.grid-view td.rank {
}
.grid-view td.rank span,
.grid-view td.rank a {
    float: left;
    background: transparent none no-repeat top left;
    width: 11px;
    height: 11px;
}
.grid-view td.rank .asc {
    background-image: url('../images/sort_asc.png');
}
.grid-view td.rank .desc {
    background-image: url('../images/sort_desc.png');
}

.grid-view table.items td.datetime {
    text-align: center;
    font-size: 90%;
    width: 115px;
}
.grid-view table.items td.first-column.index {
    width: 20px;
}
.grid-view table.items td.commentor {
    width: 115px;
    text-align: center;
}
.grid-view table.items td.content-text {
    line-height: 20px;
    border: 1px solid #E1E4FF;
    padding: 0.8em 0.5em;
    text-align: justify;
    width: 50%;
    font-size: 1em;
}
.grid-view table.items td.content-text > a {
    display: block;
    margin: 0 0 3px;
}

.grid-view table.items td.content-text.comment {
    width: 65%;
}

.grid-view table.items td.first-column {
    text-align: center;
}

.grid-view.comments table.items tr.metadata td {
    background: lightgoldenrodyellow;
    font-weight: bold;
}
.grid-view table.items .button-column {
    width: 90px;
}
.grid-view.leagues table.items td.content-text {
    width: 40%;
}
.grid-view table.items .league-type a {
    display: inline;
}
.grid-view table.items .league-type span {
    font-size: 90%;
    margin-left: 10px;
}
.grid-view table.items .league-type .Public {
    color: green;
}
.grid-view table.items .league-type .Private {
    color: red;
}


.grid-view table.items td .system {
    color: blue;
}
.grid-view table.items td .deleted {
    color: red;
}
.grid-view table.items td.deleted {
    background-color: #fcc;
}