/* 
    Document   : sms
    Created on : May 13, 2011, 3:34:06 PM
    Author     : subdee
    Description:
        Purpose of the stylesheet follows.
*/

.smsBox{
    width: 100%;
    text-align: center;
}

.smsBox input{
    margin: 10px;
    font-size: 30px;
}

.smsBox input[type="submit"]{
    font-size: 20px;
}

.smsBox input[type="text"]{
    text-align: center;
}

.smsBox input[name="username"]{
    margin: 5px;
    font-size: 16px;
/*    text-align: left;*/
}