

/** grid view **/
#content .grid-view.personal-messages table.items td {
}
#content .grid-view.personal-messages table.items td.subject {
    text-align: left;
    padding-left: 20px;
    width: 350px;
}
#personal-messages .unread {
    font-weight: bold;
}
#content .grid-view table.items tr:hover td {
    background-color: #f0f0f0;
}
#content .grid-view table.items td.recipient,
#content .grid-view table.items td.content {
    text-align: left;
}
#personal-messages .recipient {
    width: 250px;
}
#personal-messages .recipient .system {
    color: red;
    font-size: 95%;
}
#personal-messages .recipient .profile {
    float: left;
    margin-left: 5px;
    margin-top: 10px;

    overflow: hidden;
}
#personal-messages .recipient .profile a {
    float: left;
}
#personal-messages .recipient img {
    float: left;
    width: 45px;
    padding: 0;
}

#personal-messages .content .new {
    margin-left: 5px;
}
#personal-messages .content .info {
    font-size: 90%;
    color: #444;
}
#personal-messages .recipient .deleted {
    color: #444;
    font-size: 95%;

}
#personal-messages .footer {
    background-color: #027ACC;
    color: white;
    overflow: hidden;
    padding: 5px 15px 5px 20px;
}
#personal-messages .message-summary {
    float: left;
    font-size: 95%;
}
#content .grid-view.personal-messages .pager {
    float: right;
    margin: 0;
}
#personal-messages .footer .pager ul.yiiPager a {
    color: white;
}
#personal-messages .footer .pager ul.yiiPager .selected a {
    border-bottom: 1px solid white;
    margin: 0 3px;
    padding: 1px 2px;
}
#personal-messages .footer .pager ul.yiiPager .previous,
#personal-messages .footer .pager ul.yiiPager .next {
    font-size: 130%;
}

.messages .actions .notice {
    border: 1px solid #E0E0E0;
    float: left;
    margin: 0;
    width: auto;
}

.view-message .widget-comments {
    clear: both;
}

/** action divs **/

div.actions {
    overflow: hidden;
    margin-bottom: 5px;
}
div.actions > a,
div.actions > span {
    background: none no-repeat scroll 3px 50% #F7F6F5;
    border: 1px solid #e0e0e0;
    float: right;
    font-size: 85%;
    margin: 0 0 0 5px;
    padding: 5px 5px 5px 24px;
}
div.actions > span {
    opacity: 0.6;
    filter:alpha(opacity=60);
}
div.actions > a:hover {
    background-color: #f0f0f0;
}
div.actions .delete {
    background-image: url('../images/delete.png');
}
div.actions .back {
    float: right;
    margin: 0;
    background-image: url('../images/st_left.png');
}
div.actions .new-message {
    background-image: url('../images/new-message.png');
}

div.actions .conversation-info {
    float: left;
    margin: 5px;
    opacity: 1;
    filter:alpha(opacity=100);
    padding: 5px;
    margin: 0;
    font-size: 100%;
}