#left-profile-column .profile .links li .button.invite {
    background-image: url('../images/invite.png');
}
#my-invitations {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin-bottom: 10px;
/*    display: none;*/
}
/*.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    padding-left: 128px;
}*/