/*.match-forum-comment-count {
    background-color: #027ACC;
    color: white;
    float: right;
    margin: 2px;
    padding: 2px 8px;
}*/

.comment-tail {
    background: url("../images/bubble_bg.gif") no-repeat 50% -79px;
    float: right;
    height: 1.3em;
    line-height: 1.1em;
    padding: 0 0 6px;
}

.comment-tail .comment-count {
    background-color: #72AADA;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 80% !important;
    height: 1.4em;
    line-height: 1.4em;
    min-width: 0.7em;
    padding: 0 6px;
}