.widget-comments .comments {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.widget-comments .comment {
    padding: 5px;
    font-size: 90%;
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
}
.widget-comments .comment.even {
    background-color: #F7F6F5;
}

.widget-comments .comment > div {
    float: left;
    width: 650px;
}
.widget-comments.narrow .comment > div {
    width: 480px;
}
.widget-comments .comment .avatar,
.widget-comments.narrow .comment .avatar {
    width: 65px;
    text-align: center;
    margin-right: 5px;
}
.widget-comments .comment .avatar img {
    width: 60px;
}
.widget-comments .comment .details {
    font-size: 85%;
    color: #666;
}
.widget-comments .comment .details a {
    font-weight: bold;
    font-size: 115%;
    padding-right: 5px;
}
.widget-comments .comment .content {
    margin: 3px 0;
}
.widget-comments .comment .options a {
    font-size: 85%;
}

form.new-comment,
form.new-comment  input[type=submit] {
    font-size: 95%;
}
form.new-comment {
    background-color: #F7F6F5;
    border: 1px solid #E0E0FF;
    padding: 5px;
}
form.new-comment textarea {
    color: #999;
    height: 30px;
    float: left;
}
form.new-comment .row .errorMessage {
    margin-left: 0;
}


.comments-title {
    background: none repeat scroll 0 0 white;
    overflow: hidden;
    padding: 5px 5px 3px;
}
.comments-title span {
    float: left;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow: 0 0 5px #777777;
}