.forum {
    clear: both;
}
.forum .categories {
    width: 100%;
}
.forum .categories td {
    border-bottom: 1px solid #E4E4E4;
    padding: 10px;
}
.forum .categories tr.odd td {
    background-color: #F7F6F5;
}
.forum .categories td img {
    width: 24px;
}
.forum .categories td.colTitle .title {
    font-weight: bold;
    font-size: 105%;
    margin: 0 0 5px;
}
.forum .categories td.colTitle .description {
    font-size: 90%;
    font-style: italic;
}
.forum .categories td.colImages {
    text-align: center;
    width: 30px;
    vertical-align: middle;
}
.forum .categories td.colDetails {
    font-size: 85%;
    text-align: right;
    width: 160px;
}

.forum .discussions {
    margin: 10px 0;
}
.forum .discussions li {
    padding: 10px;
    border-bottom: 1px solid #E4E4E4;
    overflow: hidden;
}
.forum .discussions li.odd {
    background-color: #F7F6F5;
}

.forum .discussions li .title {
    font-weight: bold;
}
.forum .discussions li .title .closed {
    font-size: 85%;
    color: red;
    font-weight: normal;
}
.forum .discussions li .description {
    margin: 3px 0;
    font-size: 90%;
}
.forum .discussions li .details {
    font-size: 85%;
    color: #666;
}
.forum .discussions .avatar {
    width: 25px;
    text-align: center;
    margin-right: 5px;
}
.forum .discussions .avatar img {
    width: 25px;
}

.forum form {
    background-color: #F7F6F5;
    border: 1px solid #E0E0FF;
    padding: 5px;
}
.forum form,
.forum form input[type=submit] {
    font-size: 95%;
}

.forum .comments-discussion {
    overflow: hidden;
    background-color: #F7F6F5;
    border: 1px solid #E0E0FF;
    border-bottom: none;
    padding: 5px;
}
.forum .comments-discussion h3 {
    font-weight: bold;
    float: left;
}
.forum .comments-discussion .description {
    font-size: 95%;
    margin: 3px 0;
    clear: both;
    min-height: 24px;
    width: 610px;
}
.forum .comments-discussion .details {
    font-size: 85%;
    color: #666;
}
.forum .comments-discussion .options {
    font-size: 85%;
    float: right;
}

.forum .comments-discussion > div {
    float: left;
    width: 665px;
}
.forum .comments-discussion .avatar {
    width: 75px;
    text-align: center;
    margin-right: 5px;
}
.forum .comments-discussion .avatar img {
    width: 75px;
}

body a.back {
    float: left;
    font-size: 90%;
    margin: 0 0 10px 0;
}

#content .forum ul.yiiPager {
    float: left;
    padding: 10px 0;
}