.profile-info-section.forum .discussions {
    width: 100%;
}
.profile-info-section.forum td {
    padding: 5px 0;
    border-bottom: 1px solid #E4E4E4;
}
.profile-info-section.forum .odd td {
    background-color: #F7F6F5;
}
.profile-info-section.forum .details {
    font-size: 85%;
    color: #666;
}