.widgetbox.forum .body {
    padding-top : 0px;
}
.widgetbox.forum li {
    padding: 5px 0;
    border-bottom: 2px dotted #7f7f7f;
}
.widgetbox.forum li.last {
    margin-bottom: 5px;
}
.widgetbox.forum li .title {
    font-weight: bold;
}
.widgetbox.forum li .title .closed {
    font-size: 80%;
    color: red;
    font-weight: normal;
}
.widgetbox.forum li .description {
    font-size: 95%;
    margin: 3px 0;
}
.widgetbox.forum li .details {
    font-size: 85%;
    color: #666;
}