.widgetbox.training-advisor .body {
    text-align: center;
}
.widgetbox.training-advisor .image {
    cursor: pointer; cursor: hand;
}

.advisor-balloon {
    position: absolute;
    width: 340px;
}
.advisor-balloon .frame {
    background-color: white;
    box-shadow: 0 0 6px 1px #444;
    -moz-box-shadow: 0 0 6px 1px #444;
    -webkit-box-shadow: 0 0 6px 1px #444;
    overflow: hidden;
    border-radius: 20px 20px 0 20px;
    -moz-border-radius: 20px 20px 0 20px;
    -webkit-border-radius: 20px 20px 0 20px;
}
.advisor-balloon .frame > div {
    padding: 5px;
    float: left;
    width: 100%;
}

.advisor-balloon .frame .title {
    background: black url('../images/titlebar_bkg.png') repeat-x top left;
    color: white;
    font-weight: bold;
    text-align: center;
}
.advisor-balloon .frame .title > img {
    cursor: pointer;
    float: right;
    margin: 2px 20px 0 0;
}
.advisor-balloon .frame .action {
    padding: 0;
    text-align: left;
}
.advisor-balloon .frame .action .notice {
    margin-bottom: 0;
}
.advisor-balloon .frame .action > span {
    display: block;
    background-color: #013C65;
    color: white;
    padding: 7px 10px;
}
.advisor-balloon .frame .description {
    padding: 0;
}
.advisor-balloon .frame .description p {
    margin: 10px;
    text-align: justify;
}
.advisor-balloon .frame .prompt {
    background: #EFEFFF;
    border: 1px solid #e0e0ff;
}
.advisor-balloon .frame .prompt .right {
    margin: 0 20px 0 0;
}
.advisor-balloon .frame .prompt .left {
    margin: 0 0 0 10px;
    font-size: 90%;
}
.training-hint-arrow {
    position: absolute;
}

.training-hint-frame {
    border: 2px dashed #FF8A00;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}